* {
    padding: 0;
    margin: 10;
}
canvas {
    background: #eeeeee;
    display: block;
    margin: 0 auto;
}
div {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
button {
    margin: auto 50px;
}